@page "{whiskeyId:int}"
@model SlijterijSjonnieLoper.Pages.Whiskeys.DetailModel
@{
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h2>@Model.Whiskey.Name</h2>
<div>
                Name: @Model.Whiskey.Name<br />
                Percentage: @Model.Whiskey.Percentage<br />
                Brand: @Model.Whiskey.Brand<br />
                Type: @Model.Whiskey.Type<br />
                Area: @Model.Whiskey.Area<br />
                Price: @Model.Whiskey.Price<br />
</div>
<div>
    <a asp-page="./List" class="btn btn-info">All whiskeys</a>
</div>

