@page "{whiskeyId:int}"
@model SlijterijSjonnieLoper.Pages.Whiskeys.DetailModel
@{
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<div class="coleigen">
    <div class="card h-100 w-100">
        <div class="card-body">
            <h5 class="card-title">@Model.Whiskey.Name</h5>
            <p class="card-text">
                Name: @Model.Whiskey.Name<br />
                Percentage: @Model.Whiskey.Percentage<br />
                Brand: @Model.Whiskey.Brand<br />
                Type: @Model.Whiskey.Type<br />
                Area: @Model.Whiskey.Area<br />
                Price: @Model.Whiskey.Price<br />
            </p>
        </div>
    </div>
</div>
<p></p>
<div>
               
</div>
<div>
    <a asp-page="./List" class="btn btn-info">All whiskeys</a>
</div>

